
<header class="header-inbox">
  <span>bankinter</span>
  <span>Bastanteo de poderes</span>
  <span class="user-tag">Test Administrator <fa-icon [icon]="faAngleDown"></fa-icon></span>
</header>

<div class="content">
  <div class="inner">
    <router-outlet></router-outlet>
  </div>
</div>
