$primary-color: #F76900;
$primary-color-light: #FF7300;

.header-inbox {
  background-color: $primary-color-light;
  color: white;
  font-size: 20px;
  height: 70px;
  padding: 1%;

  span {
    margin-right: 1em;
  }

  .user-tag {
    font-size: 14px;
    float: right;
  }
}

.content {
  box-sizing: border-box;
  height: calc(100% - 70px);
  padding: 1em 0;
  overflow: auto;
}

.inner {
  margin: auto;
  width: 90%;
}
