<div class="inbox-main">

  <div class="main-content" ng-show="!model.loadingTenant">
    <div class="title-tag">
      <span>Bandeja de tareas</span>
    </div>
    <!-- <img class="linea ng-scope" src="../images/lineaMenu.png" alt=""> -->
    <div class="header">
      <div style="display: inline-flex; padding-top: 30px;">
        <div style="padding: 11px 15px 15px 15px; width: 400px; font-family:SohoGothicPro-Light;">
          <span>Buscar Tarea:</span>
          <div class="input-group">
            <span class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1"><fa-icon [icon]="faSearch"></fa-icon></span>
            </span>
            <input type="text" [(ngModel)]="searchText" class="form-control" ng-change="refreshDelayed()">

          </div>
        </div>

        <div class="task-search-button">
          <button type="button" class="btn btn-default ng-scope" (click)="searchDoc()" translate="">Buscar</button>
        </div>
        <div class="task-search-button">
          <button type="button" class="btn btn-default ng-scope" (click)="clearFilter()" translate="">Limpiar</button>
        </div>
        <div class="task-search-button">
          <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">Nueva Tarea</button>
          <!-- <button type="button" class="btn btn-default ng-scope" (click)="createNewTask()" translate="">Nueva Tarea</button> -->
          <!--<div ng-show="formVisibility">
            <h2>Nueva Tarea</h2>
            CIF: <input type="text"></input>
            Oficina: <input type="text"></input>
            <br/>
            ID Usuario: <input type="text"></input>
            Fecha solicitud: <input type="text"></input>
            <br/>
            Número solicitud: <input type="text"></input>
            Observaciones: <input type="text"></input>
            <form method="post" enctype="multipart/form-data">
              <div>
                <label for="file">Adjuntar archivo</label>
                <input type="file" id="file" name="file" multiple>
              </div>
              <div>
                <button>Adjuntar</button>
              </div>
            </form>
          <button type="button" class="btn btn-default ng-scope" (click)="guardarFormulario()" translate="">Guardar</button>
          </div>-->
        </div>
      </div>
      <div class="collapse" id="collapseExample">
        <h2>Nueva Tarea</h2>
        <!-- CIF: <input type="text"></input> -->
        <!-- Oficina: <input type="text"></input>
        <br/>
        ID Usuario: <input type="text"></input>
        Fecha solicitud: <input type="text"></input>
        <br/>
        Número solicitud: <input type="text"></input>
        Observaciones: <input type="text"></input> -->
        <!-- <form method="post" enctype="multipart/form-data">
          <div>
            <label for="file">Adjuntar archivo</label>
            <input type="file" id="file" name="file" multiple></input>
          </div>
          <div>
            <button>Adjuntar</button>
          </div>
        </form> -->
        <button type="button" class="btn btn-default ng-scope" (click)="guardarFormulario()" translate="">Guardar</button>
      </div>

      <!-- Comentamos esto ya que en principio no es necesario
      <div style="padding: 0 15px 15px 15px; width: 400px; font-family:SohoGothicPro-Light;">
        <label style="font-family:SohoGothicPro-Light;">Mostrar validadas:
          <input style="margin-left: 5px;" type="checkbox" ng-model="checkboxModel.value" name="mostrarTodas" ng-true-value="true" ng-false-value="false" ng-change="refreshFilter();">
        <label>
      </div> -->
    </div>

    <div class="content" auto-height offset="6">
      <div>

        <div class="message clearfix">
          <div *ngIf="!loading">
            <!-- <span *ngIf="tasks && tasks.data.length > 0">
                                    {{'IDM.USER-MGMT.MATCHING-USERS'}}

                </span> -->
            <!--<span *ngIf="!tasks || tasks.total == 0">No existen tareas en tu bandeja de entrada</span>-->
          </div>

          <table width="100%" class="users table table-hover" *ngIf="tasks && tasks.length > 0">
            <thead>
              <tr class="table-header">
                <th scope="col" width="10%">Estado</th>
                <th scope="col" width="10%">CIF</th>
                <th scope="col" width="10%">Oficina</th>
                <th scope="col" width="10%">Id Usuario</th>
                <th scope="col" width="20%">Observaciones</th>
                <th scope="col" width="10%">Fecha Solicitud</th>
                <th scope="col" width="10%">Número solicitud</th>
                <th scope="col" width="10%">Prioridad</th>
                <th scope="col" width="20%"></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngIf="loading; else tasksList">
                <td colspan="9" style="text-align: center">Cargando tareas...</td>
              <tr>
              <ng-template #tasksList>
                <tr *ngFor="let task of tasks | searchTask : searchText" ng-class="{'selected': selectedUsers[task.id]}">
                  <td>{{ task.estado }}</td>
                  <td>{{ task.cif }}</td>
                  <td>{{ task.clave_oficina }}</td>
                  <td>{{ task.id_usuario }}</td>
                  <td>{{ task.observaciones }}</td>
                  <td>{{ task.fecha_solicitud }}</td>
                  <td>{{ task.numero_solicitud }}</td>
                  <td>{{ task.prioridad }}</td>
                  <td>
                    <div class="btn-group">
                      <!-- <button type="button" class="btn btn-default ng-binding">Acciones</button> -->
                      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                        Acciones <span class="caret"></span>
                      </button>
                      <ul class="dropdown-menu" role="menu">
                        <!-- <li ng-click="showDiagram(task.processInstanceId)"><a href="" class="ng-binding">Mostrar estado solicitud</a></li> -->
                        <li ng-click="ejecutar(task.idTarea, task.name, task.id)"><a href="" class="ng-binding">Ejecutar</a></li>
                        <li ng-click="cancelar(task.idTarea, task.name, task.id)"><a href="" class="ng-binding">Cancelar</a></li>
                        <li ng-click="verDetalles(task.id)"><a href="" class="ng-binding">Ver Detalles</a></li>
                        <!-- <li ng-show="task.bastanteo" ng-click="abrirBastanteos()"><a href="" class="ng-binding">Validar</a></li> -->
                      </ul>
                    </div>
                  </td>
                </tr>
              </ng-template>
            </tbody>
          </table>
        </div>
      </div>
    </div>

  </div>

</div>
