$background-color: #EAEFEF;
$background-color-light: #F3F5F5;

@import "node_modules/bootstrap/scss/bootstrap";

.inbox-main {
  border: 1px solid $background-color;

  .title-tag {
    color: #000000;
    font-family:SohoGothicPro-Light;
    font-size: 25px;
    padding: 35px 15px 15px 15px;
  }
}

.header {
  background-color: $background-color;
}

button {
  background-color: $primary;
  color: white;
}

.task-search-button {
  margin-right: 20px;
  padding: 35px 0px 15px 15px;
}

table {
  font-size: 13px;
  margin-bottom: 0 !important;

  .table-header {
    background-color: $orange;
  }

  thead {
    th {
      color: white;
      vertical-align: middle !important;
    }
  }

  tbody {
    td {
      vertical-align: middle;
    }
  }

  .dropdown-menu {
    padding: 0;
    li {
      border-bottom: 1px solid $gray-100;
      padding: 5px 1em;
      &:hover {
        background-color: $gray-300;
      }
    }
  }
}
